{% extends 'admin/master.html' %}


{% block body %}
    {{ super() }}

    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-4 text-center">Welcome to the Admin Panel</h1>
                    <p class="lead text-center">{{ current_user.first_name }}
                    <br></br>
                    <br></br>
                    <br></br>
                        <a class="btn btn-primary" href="/"> Back</a>
                        <a class="btn btn-light" href="/admin/user">User</a>
                        <a class="btn btn-dark" href="/logout"> Log out</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
