

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <i class="fas fa-store-alt" style="color: #7bea5d;"></i>
    <a class="navbar-brand" href="{{ url_for('home') }}">&nbsp Inserat+</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
        </li>
        {% if current_user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('register') }}">Register</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('edit_profile') }}">Edit Profile</a>
        </li>
        {% endif %}
      </ul>
      
    </div>
  </div>
</nav>
