<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    
    <!-- Bootswatch theme -->
    <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">
    
     <!-- Titel -->
    {% if title %}
        <title>{{ title }} - Jobportal</title>
        {% else %}
        <title>Welcome to Jobportal</title>
    {% endif %}
    
     <!-- Head for Style -->
    {% block head %} {% endblock %}

</head>
<body>

    <!-- Navbar -->
        {% include "includes/nav.html" %}
    <!-- End Navbar -->

    <div class="centered-container">
        <div class="row">
            <div class="container mt-4">   
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>


