<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    
    <!-- Bootswatch theme
    <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">  -->

    <!-- Fontawesomee -->
    <script src="https://kit.fontawesome.com/8744ee2cf9.js" crossorigin="anonymous"></script>

    <!-- Custem CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    
     <!-- Titel -->
    {% if title %}
        <title>{{ title }} - Inserat+</title>
        {% else %}
        <title>Welcome to Inserat+</title>
    {% endif %}
    
    <!-- Head for Style -->
    {% block head %} {% endblock %}


    
</head>
<body>

    <!-- Navigation - Navbar -->
        {% include "includes/nav.html" %}
    <!-- End Navbar -->


    <div class="row" style= "margin-top: 50px;">
        <div class="col"></div>
        <div class="col">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

        </div>
        <div class="col"></div>
      </div>

        



    {% block content %}{% endblock %}
        
 

    <!-- Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

</body>
</html>


