{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
  {{ moment.include_moment() }}
  
  <style>
    .custom-container {
      margin-top: 50px; /* Adjust the value as needed */
      
    }
    .card {
    margin-bottom: 20px; /* Adjust the value as per your preference */
    }

    .card-body {
    padding: 20px; /* Adjust the value as per your preference */
    }

  </style>
{% endblock %}


{% block content %}

<div class="container custom-container">
  <div class="card-deck">
    {% for advertisement in advertisements %}
      <div class="card rounded shadow-lg">
        <div class="card-header bg-transparent">
          <div class="row">
            <div class="col">
              <h5 class="card-title">{{ advertisement.title }}</h5>
            </div>
            <div class="col">
              <h5>CHF {{ advertisement.price }}</h5>
            </div>
            <div class="col"></div>
            <div class="col">
              {{ moment(advertisement.timestamp).calendar() }}
            </div>
          </div>
        </div>
        <div class="card-body bg-light">
          <img src="{{ advertisement.image_url }}" class="card-img-top" alt="Advertisement Image">
        </div>
        <div class="card-body bg-light">
          <p class="card-text">{{ advertisement.description }}</p>
        </div>
        <div class="card-footer bg-transparent text-body-secondary">
          <div class="row">
            <div class="col">
              <ul class="list-group list-group">
                <li class="list-group-item bg-transparent">Category: {{ advertisement.category.name }}</li>
                <li class="list-group-item bg-transparent">Subcategory: {{ advertisement.subcategory.name }}</li>
                <li class="list-group-item bg-transparent">User: {{ advertisement.user.username }}</li>
              </ul>
            </div>
            <div class="col">
              <ul class="list-group list-group">
                <li class="list-group-item bg-transparent">City: {{ advertisement.city.name }}</li>
                <li class="list-group-item bg-transparent">Zip Code: {{ advertisement.zip_code }}</li>
              </ul>
            </div>
            <div class="col">
              <a href="/contact/{{ advertisement.user.id }}" class="btn btn-primary">Contact</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>



{% endblock %}
