{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
  <style>
    .custom-container {
      margin-top: 50px; /* Adjust the value as needed */
    }

  </style>
{% endblock %}

{% block content %}

<div class="container custom-container border">
  <!-- Content of your container goes here -->


  <h1>Hi, {{ current_user.username }}!</h1>
  {% for post in posts %}
  <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
  {% endfor %}
</div>

{% endblock %}
                                                                                                                      