{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <style>

    .custom-container {
      margin-top: 50px; /* Adjust the value as needed */
      
    }

  </style>
{% endblock %}


{% block content %}
<div class="container">
  
  <div class="row justify-content-center">
    <div class="col-md-6 ">
      <form>
      {% if form.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {% for field, errors in form.errors.items() %}
          {% for error in errors %}
            <p>{{ form[field].label }} - {{ error }}</p>
          {% endfor %}
        {% endfor %}
      </div>
      {% endif %}
      </form>
    </div>
  </div>
</div>

<div class="container d-flex align-items-center justify-content-center custom-container">
  <div class="card shadow-lg  mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename='img/nature.jpg') }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1>Sign In</h1>
          <form action="" method="post" novalidate>
              {{ form.hidden_tag() }}
             
              <div class="form-group">
                <!-- the input field with lowercase letters -->
                {{ form.username.label }}
                {{ form.username(class_="form-control", size=32, **{'style': 'text-transform: lowercase;'}) }}
              </div>
              <div class="form-group">
                  {{ form.password.label }}
                  {{ form.password(class_="form-control", size=32) }}
              </div>
              <div class="form-group">
                  {{ form.remember() }} {{ form.remember.label }}
              </div>
              <div class="form-group">
                  {{ form.submit(class_="btn btn-primary") }}
              </div>
          </form>
          <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}