{% extends 'base.html' %}


{% block head %}
  {{ super() }}
  <style>
    .custom-container {
      margin-top: 50px; /* Adjust the value as needed */
    }

  </style>
{% endblock %}

{% block content %}

<!-- Error Messages -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 ">
      <form>
      {% if form.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {% for field, errors in form.errors.items() %}
          {% for error in errors %}
            <p>{{ form[field].label }} - {{ error }}</p>
          {% endfor %}
        {% endfor %}
      </div>
      {% endif %}
      </form>
    </div>
  </div>
</div>

<div class="container custom-container">
  <div class="row justify-content-center">
    <div class="col-md-6 border rounded shadow-lg">
      </br>
      <h1 class="text-center">Place an ad+</h1>

      <!-- advertisement_form.html -->
      <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.title.label(class='form-label') }} {{ form.title(class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.description.label(class='form-label') }} {{ form.description(class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.category_id.label(class='form-label') }} {{ form.category_id(class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.subcategory_id.label(class='form-label') }} {{ form.subcategory_id(class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.price.label }} {{ form.price(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.contact_info.label }} {{ form.contact_info(size=20, class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.city_id.label }} {{ form.city_id(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.zip_code.label }} {{ form.zip_code(class="form-control" ) }}
        </div>

        <div class="form-group">
          {{ form.user_id.label(class='form-label') }} {{ form.user_id(class='form-control') }}
        </div>
        </br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </br>
    </div>
  </div>

  

</div>






{% endblock %}
                                                                                                                      