{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <style>
    .custom-container {
      margin-top: 50px; /* Adjust the value as needed */
    }
  </style>
{% endblock %}

{% block content %}

<!-- Error Messages -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 ">
        <form>
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {% for field, errors in form.errors.items() %}
            {% for error in errors %}
              <p>{{ form[field].label }} - {{ error }}</p>
            {% endfor %}
          {% endfor %}
        </div>
        {% endif %}
        </form>
      </div>
    </div>
  </div>


<!-- Reset Form  -->
<div class="container custom-container">
  <div class="row justify-content-center">
    <div class="col-md-6 border rounded shadow-lg">
      </br>
      <h1 class="text-center">Reset Password</h1>

      <form method="POST" action="{{ url_for('reset_password', token=your_token_value) }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class_="form-control") }}
        </div>
       
        <div class="form-group">
          {{ form.password2.label(class="form-label") }}
          {{ form.password2(class_="form-control") }}
        </div>
        <br>
        <button type="submit" class="btn btn-outline-primary">Reset Your Password</button>
        <br>
      </form>
    </br>
    </div>
  </div>
</div>
{% endblock %}
