{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <style>
    .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Hier können Sie die Höhe des Containers anpassen */
  }
    </style>
{% endblock %}

{% block content %}

<table>
    <tr valign="top">
        <td><img src="#"></td>
        <td>
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
            {% if user == current_user %}
            <p><a href="#">Edit your profile</a></p>
            {% endif %}
        </td>
    </tr>
</table>
<hr>
{% for post in posts %}

{% endfor %}

{% endblock %}
