{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <style>
    .custom-container {
      margin-top: 50px; /* Adjust the value as needed */
      
    }

    

  </style>
{% endblock %}

{% block content %}


<div class="container custom-container ">

  <h1>Dasboard</h1><br/>
 

  <div class="card shadow-lg">
    <h5 class="card-header">Welcome To Your User Dashboard...</h5>
    <div class="card-body">
      <div class="card-title">
        <div class="row  g-0">
          <div class="col-sm-2 ">
            <img src="{{ user.avatar(128) }}">

          </div>
          <div class="col-sm-5">
                <strong>User:</strong>
                {{ user.username }}<br/>
                
        
               
                <strong>User Id:</strong>
                {{ user.id }}<br/>
                <strong>Email:</strong>
                {{ user.email }}<br/>
                <strong>Date of Joined:</strong>
                {{ user.user_adedd}}<br/>
                {% if user.last_seen %}<strong>Last seen on:</strong> {{ user.last_seen }}</p>{% endif %}
            
                <br/><br/>
                <a href="#" class="btn btn-primary">Edit your profile</a>
              </div>
        </div>
      </div>
      
      


    </div>
  </div>




</div>
<br>
<div class="container">
<!-- Content of your container goes here -->
{% for post in posts %}
    {% include 'includes/_post.html' %}
{% endfor %}
</div>



{% endblock %}
