{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <style>
    .custom-container {
      margin-top: 50px; /* Adjust the value as needed */
      
    }

    

  </style>
{% endblock %}

{% block content %}
<div class="container custom-container ">
  <h1>Dasboard</h1><br/>
  <div class="card shadow-lg">
    <h5 class="card-header">
      {{ user.first_name }}  {{ user.last_name }}</h5>
    <div class="card-body">
      <div class="card-title">
        <div class="row  g-0">
          <div class="col-sm-2 ">
            <img src="{{ user.avatar(128) }}">

          </div>
               <div class="col-sm-5">
                <strong>User:</strong>
                {{ user.username }}<br/>
                <strong>User Id:</strong>
                {{ user.id }}<br/>
                <strong>Email:</strong>
                {{ user.email }}<br/>
                <strong>Date of Joined:</strong>
                {{ user.user_adedd}}<br/>
              
                <strong>Last seen on:</strong>
                {{ user.last_seen }}</br>
                <br/>
                <!-- Buttons-->
                <form action="{{ url_for('delete_profile') }}" method="POST" onsubmit="return confirm('Are you sure you want to delete your profile?');">
                  <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a href="{{ url_for('logout') }}" class="btn btn-outline-primary" role="button">Logout</a>
                    <a href="{{ url_for('edit_profile') }}" class="btn btn-outline-primary" role="button">Edit your profile</a>
                      {% if current_user.is_admin %}
                      <a href="{{ url_for('admin.index') }}" class="btn btn-outline-primary" role="button">Admin Panel</a>
                      {% endif %}
                <!-- dumbit for from  -->    
                    <button type="submit" class="btn btn-outline-primary">Delete Profile</button>
                <!-- Only visible for Administrators-->    
                </form>
                </div>
             </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!-- Post -->

  {% if current_user.is_admin %}
  {% else %}
          <div class="container">
          <!-- Content of your container goes here -->
          {% for post in posts %}
              {% include 'includes/_post.html' %}
          {% endfor %}
  {% endif %}
</div>

{% endblock %}
